@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.navbar{
  position:sticky;
}
.order-info {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-size: 30px;
  font-weight: 800; /* Correct the font-weight property */
  font-style: italic;
}
